:root {
  /* ### Primary ### */

  --Light-red: hsl(0, 100%, 67%);
  --Orangey-yellow: hsl(39, 100%, 56%);
  --Green-teal: hsl(166, 100%, 37%);
  --Cobalt-blue: hsl(234, 85%, 45%);

  /* ### Gradients (Background) ### */

  --Light-slate-blue: hsl(252, 100%, 67%);
  --Light-royal-blue: hsl(241, 81%, 54%);

  /* ### Gradients (Circle) ### */

  --Violet-blue: hsla(256, 72%, 46%, 1);
  --Persian-blue: hsla(241, 72%, 46%, 0);

  /* ### Neutral ### */

  --White: hsl(0, 0%, 100%);
  --Pale-blue: hsl(221, 100%, 96%);
  --Light-lavender: hsl(241, 100%, 89%);
  --Dark-gray-blue: hsl(224, 30%, 27%);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Hanken Grotesk', sans-serif;
  font-size: 18px;
  font-weight: 500;
}

main {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cards-wrapper {
  margin: auto 5rem;
  max-width: 375px;
}

/* ### SCORE CARD STYLES ### */

.score-card {
  text-align: center;
  background-image: linear-gradient(
    var(--Light-slate-blue),
    var(--Light-royal-blue)
  );
  color: var(--White);
  padding: 2rem;
  border-radius: 0 0 1.4rem 1.4rem;
}

h2.result {
  margin-bottom: 2rem;
  font-weight: 500;
  font-size: 1rem;
  color: var(--Light-lavender);
}

.score {
  background-image: linear-gradient(var(--Violet-blue), var(--Persian-blue));
  border-radius: 50%;
  margin: auto 5.6rem;
  padding: 1.4rem;
}

.score h2 {
  font-size: 3rem;
  font-weight: 800;
}

.score p {
  font-weight: 400;
  font-size: 0.8rem;
  color: var(--Light-lavender);
}

h2.great {
  margin: 1rem auto 0.6rem auto;
  font-weight: 700;
  font-size: 1.3rem;
}

p.stat {
  color: var(--Light-lavender);
  font-weight: 400;
  font-size: 0.9rem;
  padding: 0 2rem;
}

/* ### SUMMARY CARD STYLES ### */

.summary-card {
  padding: 1.4rem;
}

.summary-card h2 {
  font-weight: 700;
  font-size: 1.2rem;
  color: var(--Dark-gray-blue);
  margin-bottom: 1rem;
}

.summary-tabs {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.title {
  display: flex;
  align-items: center;
}

.tab-score p {
  color: hsla(224, 30%, 27%, 50%);
}

.tab-score span {
  font-weight: 700;
  color: var(--Dark-gray-blue);
}

/* ### REACTION TAB STYLES ### */

.reaction {
  background-color: hsla(0, 100%, 67%, 10%);
  padding: 0.9rem;
  border-radius: 0.5rem;
}

.reaction-title {
  color: var(--Light-red);
  margin-left: 0.6rem;
  font-weight: 400;
  font-size: 1rem;
}

/* ### MEMORY TAB STYLES ### */

.memory {
  background-color: hsla(39, 100%, 56%, 10%);
  padding: 0.9rem;
  border-radius: 0.5rem;
}

.memory-title {
  color: var(--Orangey-yellow);
  margin-left: 0.6rem;
  font-weight: 400;
  font-size: 1rem;
}

/* ### VERBAL TAB STYLES ### */

.verbal {
  background-color: hsla(166, 100%, 37%, 10%);
  padding: 0.9rem;
  border-radius: 0.5rem;
}

.verbal-title {
  color: var(--Green-teal);
  margin-left: 0.6rem;
  font-weight: 400;
  font-size: 1rem;
}

/* ### VISUAL TAB STYLES ### */

.visual {
  background-color: hsla(234, 85%, 45%, 10%);
  padding: 0.9rem;
  border-radius: 0.5rem;
  margin-bottom: 2.5rem;
}

.visual-title {
  color: var(--Cobalt-blue);
  margin-left: 0.6rem;
  font-weight: 400;
  font-size: 1rem;
}

/* ### CONTINUE BUTTON STYLES ### */

.continue-btn {
  background-color: var(--Dark-gray-blue);
  width: 100%;
  padding: 1rem 8rem;
  border-radius: 3rem;
  text-decoration: none;
  color: var(--White);
}

.continue-btn:hover,
.continue-btn:active {
  background-color: var(--Light-royal-blue);
}
